form {
  margin-bottom: 20px;
  text-align: center;
}

form .search-input {
  width: 300px;
  padding: 3px 10px;
  margin-bottom: 5px;
}

form .search-submit {
  width: 90px;
  padding: 3px;
  margin-bottom: 5px;
}

input {
  margin-right: 10px;
}

ul {
  list-style: none;
  padding: 0;
  position: relative;
  top: 22px;
}

img {
  width: 40px;
}

.container {
  border: 1px solid grey;
  border-radius: 10px;
  color: grey;
  max-width: 75%;
  padding: 20px;
  margin: 20px auto;
  width: 650px;
}

.weather-img {
  width: 70px;
  height: 70px;
  position: relative;
  top: -18px;
}

.temp {
  font-size: 60px;
  color: black;
}

.degrees {
  position: relative;
  top: -34px;
}
